D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\Kconfig.v2
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\boards\Kconfig.v2
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\boards\Kconfig_drv
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\boards\Kconfig_lcd
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\boards\Kconfig_lcd_fpga
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\boards\Kconfig_soc
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\boards\Kconfig_soc.sf32lb57x
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\boards\Kconfig_soc.sf32lb57x.common
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\boards\sf32lb52-lchspi-ulp\Kconfig.board
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\boards\sf32lb52-lchspi-ulp\hcpu\Kconfig.board
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\boards\sf32lb52-lchspi-ulp_base\Kconfig.board
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\peripherals\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\peripherals\audio\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\peripherals\battery\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\peripherals\bluetooth\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\peripherals\buzzer\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\peripherals\camera\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\peripherals\charger\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\peripherals\console\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\peripherals\display\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\peripherals\encoder\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\peripherals\gps\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\peripherals\key\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\peripherals\led\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\peripherals\motor\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\peripherals\nand\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\peripherals\nor\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\peripherals\pa\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\peripherals\pmic_controller\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\peripherals\rgb\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\peripherals\sd\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\peripherals\sensor\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\peripherals\vibrator\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\customer\peripherals\wifi\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\CMSIS\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\CmBacktrace-v1.3.0\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\FlashDB\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\SEGGER_SystemView-master\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\WebRTC_audio_processing\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\cJSON-1.7.17\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\cherryusb\Kconfig.rttpkg
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\coremark\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\cwm_lib\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\easytlv\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\faad2\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\ffmpeg\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\flac-1.5.0\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\freetype\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\fsck\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\jpeg_codec\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\libhelix-mp3\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\libogg-1.3.6\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\lvgl_v8\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\lvgl_v8\Kconfig_v8
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\lvgl_v9\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\lz4\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\mbedtls\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\mbedtls_228\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\micropython\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\nanopb\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\opus-1.4\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\quickjs\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\rlottie\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\rpmsg-lite\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\sensor-lib\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\state_machine-latest\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\tinymp3\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\vglite\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\webclient\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\external\wpa_supplicant-rtos\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\acpu_ctrl\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\app_fwk\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\audio\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\audio\anyka\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\barcode128\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\battery\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\Kconfig.hw
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\Kconfig.adv
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\Kconfig.iso
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\Kconfig.tinycrypt
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\Kconfig.zbt
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\audio\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\audio\Kconfig.aics
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\audio\Kconfig.ascs
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\audio\Kconfig.bap
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\audio\Kconfig.cap
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\audio\Kconfig.ccp
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\audio\Kconfig.csip
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\audio\Kconfig.gmap
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\audio\Kconfig.has
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\audio\Kconfig.mcs
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\audio\Kconfig.mctl
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\audio\Kconfig.micp
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\audio\Kconfig.mpl
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\audio\Kconfig.pacs
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\audio\Kconfig.pbp
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\audio\Kconfig.tbs
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\audio\Kconfig.tmap
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\audio\Kconfig.vcp
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\audio\Kconfig.vocs
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\common\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\host\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\host\Kconfig.gatt
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\host\Kconfig.l2cap
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\host\classic\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\lib\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\mesh\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\mesh\shell\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\services\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\services\Kconfig.cts
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\services\Kconfig.dis
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\services\Kconfig.hrs
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\services\Kconfig.tps
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\services\bas\Kconfig.bas
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\services\ias\Kconfig.ias
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\services\nus\Kconfig.nus
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\services\ots\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\bluetooth\zephyr_bt\settings\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\boot\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\button\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\cell_transform\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\cmsis_dsp\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\context_backup\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\coredump\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\cpu_usage_profiler\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\crypto\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\data_bus\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\dfu\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\dfu_pan\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\dfu_uart\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\elm_rw\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\ezipa_dec\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\file_logger\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\gauss_blur\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\ipc_queue\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\lvgl\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\metrics_collector\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\mod_installer\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\partition_table\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\profiler\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\section_var\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\share_prefs\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\middleware\system\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\rtos\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\rtos\env\packages\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\rtos\env\packages\packages\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\rtos\env\packages\packages\iot\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\rtos\env\packages\packages\iot\netutils\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\rtos\env\packages\packages\misc\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\rtos\env\packages\packages\misc\samples\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\rtos\env\packages\packages\misc\samples\network_samples\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\rtos\rtthread\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\rtos\rtthread\components\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\rtos\rtthread\components\cplusplus\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\rtos\rtthread\components\dfs\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\rtos\rtthread\components\drivers\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\rtos\rtthread\components\finsh\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\rtos\rtthread\components\libc\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\rtos\rtthread\components\net\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\rtos\rtthread\components\net\at\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\rtos\rtthread\components\net\lwip\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\rtos\rtthread\components\net\netdev\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\rtos\rtthread\components\net\sal\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\rtos\rtthread\components\utilities\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\rtos\rtthread\libcpu\Kconfig
D:\iotproject\LCHSP\OpenSiFli\githubsdk\SiFli-SDK\v2.5\SiFli-SDK-V2.5\rtos\rtthread\src\Kconfig
D:\iotproject\lcHspEc800m\lcHsp\lvgl\pan_test1\project\Kconfig.proj
D:\iotproject\lcHspEc800m\lcHsp\lvgl\pan_test1\project\build_sf32lb52-lchspi-ulp_hcpu\Kconfig
