D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\Kconfig.v2
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\customer\boards\Kconfig.v2
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\customer\boards\Kconfig_drv
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\customer\boards\Kconfig_lcd
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\customer\boards\Kconfig_lcd_fpga
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\customer\boards\Kconfig_soc
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\customer\boards\sf32lb52-lchspi-ulp\Kconfig.board
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\customer\boards\sf32lb52-lchspi-ulp\hcpu\Kconfig.board
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\customer\boards\sf32lb52-lchspi-ulp_base\Kconfig.board
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\customer\peripherals\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\customer\peripherals\audio\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\customer\peripherals\bluetooth\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\customer\peripherals\buzzer\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\customer\peripherals\charger\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\customer\peripherals\encoder\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\customer\peripherals\gps\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\customer\peripherals\motor\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\customer\peripherals\pa\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\customer\peripherals\pmic_controller\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\customer\peripherals\rgb\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\customer\peripherals\sensor\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\customer\peripherals\vibrator\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\example\boot_loader\project\butterflmicro\ram_v2\Kconfig.proj
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\CMSIS\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\CmBacktrace-v1.3.0\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\FlashDB\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\SEGGER_SystemView-master\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\WebRTC_audio_processing\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\cJSON-1.7.17\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\coremark\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\easytlv\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\faad2\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\ffmpeg\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\freetype\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\fsck\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\jpeg_codec\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\libhelix-mp3\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\lvgl_v8\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\lvgl_v8\Kconfig_v8
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\lvgl_v9\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\lz4\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\mbedtls\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\mbedtls_228\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\nanopb\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\opus-1.4\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\quickjs\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\rlottie\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\rpmsg-lite\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\sensor-lib\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\state_machine-latest\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\tinymp3\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\vglite\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\external\webclient\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\audio\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\Kconfig.hw
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\Kconfig.adv
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\Kconfig.iso
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\Kconfig.tinycrypt
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\Kconfig.zbt
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.aics
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.ascs
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.bap
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.cap
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.ccp
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.csip
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.gmap
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.has
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.mcs
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.mctl
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.micp
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.mpl
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.pacs
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.pbp
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.tbs
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.tmap
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.vcp
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\audio\Kconfig.vocs
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\common\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\host\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\host\Kconfig.gatt
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\host\Kconfig.l2cap
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\host\classic\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\lib\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\mesh\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\mesh\shell\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\services\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\services\Kconfig.cts
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\services\Kconfig.dis
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\services\Kconfig.hrs
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\services\Kconfig.tps
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\services\bas\Kconfig.bas
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\services\ias\Kconfig.ias
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\services\nus\Kconfig.nus
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\services\ots\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\bluetooth\zephyr_bt\settings\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\core_dump\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\file_logger\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\lvgl\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\metrics_collector\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\middleware\profiler\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\rtos\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\rtos\env\packages\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\rtos\env\packages\packages\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\rtos\env\packages\packages\iot\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\rtos\env\packages\packages\iot\netutils\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\rtos\env\packages\packages\misc\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\rtos\env\packages\packages\misc\samples\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\rtos\env\packages\packages\misc\samples\network_samples\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\rtos\rtthread\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\rtos\rtthread\components\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\rtos\rtthread\components\cplusplus\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\rtos\rtthread\components\dfs\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\rtos\rtthread\components\drivers\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\rtos\rtthread\components\finsh\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\rtos\rtthread\components\libc\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\rtos\rtthread\components\net\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\rtos\rtthread\components\net\at\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\rtos\rtthread\components\net\lwip\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\rtos\rtthread\components\net\netdev\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\rtos\rtthread\components\net\sal\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\rtos\rtthread\components\utilities\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\rtos\rtthread\libcpu\Kconfig
D:\iotproject\LCHSP\OpenSiFli\sifli-sdk\rtos\rtthread\src\Kconfig
D:\iotproject\lcHspEc800m\lcHsp\example\multimedia\lvgl\lvgl_v8_examples\project\build_sf32lb52-lchspi-ulp_hcpu\bootloader\Kconfig
